<%= render 'shared/content_title', title: "#{@user.username}'s User Profile" %>

<%= @user.username %> is a member of the following projects:
<br>
<% @user.projects.each do |project| %>
  <ul>
    <li><%= project.project_name %></li>
  </ul>
<% end %>
