<%= render 'shared/content_title', title: "#{@user.username}'s Projects" %>

<div class="container well">
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <% @user.projects.each do |project| %>
				<ul>
					<li class="project-list"><%= link_to project.project_name, project_path(project) %> 
				</ul>
      <% end %>
    </div>
  </div>
</div>
