
<div class="container">
  <div class="row">
    <div class="col-md-12 jumbotron">
      <div class="text-center">
				<h1>Adopt a Cause</h1>
				<br>
				<h3>You can make a difference in the lives of others in your community.</h3>
				<br>
				<% if logged_in? %>
					<%= link_to projects_path, class: "splash-buttons btn btn-danger" do %> View Available Projects <% end %>
				<%= link_to user_path(current_user), class: "splash-buttons btn btn-success" do %> View Your Projects <% end %>
<% else %>
				<p class="lead">Join us.</p>
				<br>
<%= link_to new_user_path, class: "splash-buttons btn btn-danger" do %> Sign Up <% end %>
<%= link_to login_path, class: "splash-buttons btn btn-success" do %> Log In <% end %>
<% end %>


</div>
</div>
</div>
</div>
